streamlit==1.29.0
chromadb==0.4.15
googlemaps
langchain
langchain-experimental
langchainhub==0.1.13
openai
pandas
proto-plus==1.22.2
protobuf==3.20.0
pydantic
pyowm
pysqlite3-binary
streamlit-authenticator
streamlit-feedback==0.1.2
tabulate
tiktoken
trubrics==1.6.2